{{template "base" .}}
{{define "title"}} Payment Confirmation {{end}}

{{define "content"}}
  <h2 class="mt-5">Payment Success</h2>
  <hr />
  <p>Transaction id: {{index .Data "paymentIntent"}}</p>
  <p>Cardholder name: {{index .Data "cardholderName"}}</p>
  <p>Cardholder email: {{index .Data "cardholderEmail"}}</p>
  <p>Amount: {{index .Data "amount"}}</p>
  <p>Currency: {{index .Data "currency"}}</p>
  <p>Payment method: {{index .Data "paymentMethod"}}</p>
{{end}}